python-dotenv
fastapi 
uvicorn 
PyMuPDF 
SQLAlchemy 
psycopg2-binary
pymysql
websockets 
langchain
python-multipart
pytest 
httpx
pytest-asyncio
chromadb
sentence-transformers
huggingface-hub
langchain-community
pytest-timeout
langchain_huggingface
faiss-cpu
langchain-ollama